@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Color variables */
:root {
    --background-color: white;
    --text-color: white;
    --button-bg-color: #e13535;
    --button-hover-bg-color: #f33a3a;
    --fade-gradient-start: rgba(255, 255, 255, 0);
    --fade-gradient-mid: rgba(29, 29, 37, 0);
    --fade-gradient-end: rgba(29, 29, 37, 1);
    --project-bg-color: rgb(29, 29, 37);
    --box-shadow-color: rgba(100, 100, 111, 0.1);
    --box-shadow-hover-color: rgba(100, 100, 111, 0.2);
    --footer-bg-color: #64646F33;
    --highlight-color: #e13535;
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-image: url('../img/background.png');
    color: var(--text-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Grid */
.parent {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

.header {
    grid-column: span 5 / span 5;
}

.welcome-grid {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-me-grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, auto);
    /* 3 rows that grow with content */
    gap: 20px;
    align-items: start;
    height: fit-content;
    /* Or max-height if needed */

}

.project-grid>a {
    width: 300px;
    display: block;
}


#projects-container {
    padding-top: 30rem;
}

#footer-container {
    margin-top: 3rem;
    padding: 1rem;
    width: 100%;
}

/* Stylesheet */

#welcome {
    font-size: 2.5rem;
}

.button {
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    background-color: var(--button-bg-color);
    width: 150px;
    height: 35px;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--button-hover-bg-color);
}

.container-about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sized-h2 {
    font-size: 2rem;
}

#about-me-text-field {
    width: 400px;
    text-align: left;
}

#about-me-image {
    width: 340px;
    border-radius: 20px;
}

p {
    color: var(--text-color);
    font-weight: 400;
    font-size: medium;
    line-height: 1.5;
    max-width: 75ch;
}

.about-me-text-margin {
    margin: 20px 0;
}

.color-purple {
    color: var(--highlight-color);
}

.margin {
    margin-bottom: 30px;
}

h2 {
    margin: 10px 0;
}

/* Projects */

.project-image {
    height: 150px;
    width: 300px;
    position: absolute;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.fade-image {
    height: 150px;
    width: 300px;
    background: linear-gradient(180deg,
            var(--fade-gradient-start) 0%,
            var(--fade-gradient-mid) 92%,
            var(--fade-gradient-end) 100%);
    position: relative;
    border-radius: 20px 20px 0 0;
}

.project-text {
    width: 300px;
    height: 220px;
    background-color: var(--project-bg-color);
    border-radius: 0 0 20px 20px;
    padding: 20px;
}

.project-content {
    box-shadow: var(--box-shadow-color) 0 4px 15px 0;
    border-radius: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 300px;
    background-color: var(--project-bg-color);
    margin-top: 20px;
}

.project-content:hover {
    box-shadow: var(--box-shadow-hover-color) 0 7px 29px 0;
    transform: scale(1.05);
}

#project-aligner {
    display: flex;
    gap: 1vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Footer */

#footer-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-color: var(--footer-bg-color);
}

.footer-info:hover {
    display: flex;
    align-items: center;
    text-decoration: underline;
}

/* Animation */

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.loadAnimation {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.loadAnimation.visible {
    animation: fadeIn 1s ease-out forwards;
    opacity: 1;
}

/* Responsive Design */

@media (max-width: 1930px) {
    #project-aligner {
        width: 80vw;
    }
}

@media (max-width: 1200px) {
    #project-aligner {
        width: 75vw;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active {
    color: inherit;
    outline: none;
}

a:hover {
    color: inherit;
}

.ring-container {
    position: relative;
}

/* Pulsing DOT */
.circle {
    width: 15px;
    height: 15px;
    background-color: var(--highlight-color);
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 23px;
}

.ringring {
    border: 3px solid var(--highlight-color);
    -webkit-border-radius: 30px;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 15px;
    top: 15px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
    margin: 3px;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

/* Responsive CSS properties */
@media screen and (max-width: 970px) {
    .about-me-grid {
        flex-direction: column;
        align-items: start;
        padding-inline: 2rem;
    }

    #about-me-text-field {
        width: 100%;
    }
}

@media screen and (min-width: 670px) and (max-width: 970px) {
    .project-grid {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 670px) {
    .project-grid {
        grid-template-columns: repeat(1, auto);
    }

    #welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .featured-text {
        text-align: center;
    }
}